
<ul class="nes-list is-disc">
<li>
	{{name}}
	<button class="change-devour" data-id="{{id}}" data-newdevour="{{isDevoured}}">
		{{#if isDevoured}}Devour It!
		{{else}}not devour!</button>
		<button class="delete-burger" data-id="{{id}}">DELETE</button>
		{{/if}}
</li>
</ul>