
<ul class="nes-list is-disc" id="list" >
<li class="show">
	{{name}}
	<button class="change-devour nes-btn" data-id="{{id}}" data-newdevour="{{isDevoured}}">
		{{#if isDevoured}}Devour It!
		{{else}}not devour!</button>
		<button class="delete-burger nes-btn" data-id="{{id}}"><i class="fa fa-trash fa-2x" style ="color:red;" aria-hidden="true"></i>
</button>
		{{/if}}
</li>
</ul>